page-game {
  .score-col {
    border: thin solid gray;
  }
  .name {
    font-size: 14pt;
  }
  .segmentLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      padding-left: 5pt;
    }
  }
  .menu {
    min-width: 50vw !important;
  }
  .winning {
    font-weight: bold;
    color: color($colors, danger);
  }
  /*
  ion-scroll {
    height: 25vh;
    width: 70vw;
    padding: 0 !important;
    margin: 0 !important;
    ion-row {
      width: 100vw;
      padding: 0;
    }
    ion-list {
      width: 100vw;
      padding: 0;
    }
    div {
      padding: 0 !important;
    }
  }
  */
}
