<ion-header>
  <ion-navbar>
    <ion-title>Round {{this.database.getRound()}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="page" padding>
    <ion-list nolines *ngSwitchCase="'game'">
      <ion-item *ngFor="let p of this.database.getPlayers(); let i = index">
        <ion-label>{{p.name}}</ion-label>
        <ion-select [(ngModel)]="p.guess" placeholder="Guess">
          <ion-option *ngFor="let o of this.database.getOptions()" [value]="o">{{o}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
